body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f3f3de;
}

.destino {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
}

.destino img {
    width: 150px; /* ajuste o tamanho da imagem conforme necessário */
    height: auto;
    margin-right: 15px;
}
